@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ysabeau:wght@1;100;200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Ysabeau", sans-serif;
}

body {
    background-color: #151515;
    overflow-x: hidden;
}

.lazy-load-image-background {
    width: 100%;
}

.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    text-overflow: ellipsis;
    overflow: hidden;
}

.full {
    display: block;
}

/* ----- swiper ----- */
.games-card .swiper-slide {
    height: auto !important;
}

@layer components {
    .default-section-padding {
        @apply px-4 pt-4 pb-[3rem] lg:py-4;
    }

    /* ----- heading ----- */
    .title {
        @apply font-semibold text-md tracking-wider text-primary-white;
    }

    .heading {
        @apply font-semibold tracking-wider text-3xl text-primary-white text-center lg:text-start lg:text-4xl;
    }

    .detail-heading {
        @apply text-primary-white tracking-wide underline decoration-[#797979] underline-offset-2;
    }

    /* ----- navigation ----- */
    .web-nav-heading {
        @apply text-sub-heading font-semibold tracking-wider text-primary-white;
    }

    .web-nav-link-heading {
        @apply text-sub-heading font-semibold tracking-wider text-primary-white cursor-pointer;
    }

    .mobile-nav-heading {
        @apply text-sub-heading font-semibold tracking-wider;
    }

    .mobile-nav-link-heading {
        @apply font-semibold text-md tracking-wider text-primary-white cursor-pointer;
    }

    /* ----- card ----- */
    .game-title {
        @apply text-primary-white text-xl font-semibold line-clamp-2 transition hover:text-primary-yellow duration-300 cursor-pointer;
    }

    .game-heading {
        @apply text-secondary-gray text-sm;
    }

    .divider {
        @apply mb-2 bg-primary-bg-gray w-[100%] h-[0.5px];
    }
}
